$main-color:#0b8071;
$bg-color: #f7f7f7;
.centerNav {
    padding-top: 15px;
    padding-bottom: 15px;
    .container {
        display: flex;
        justify-content: space-between !important;
        .logo {
            width: 200px;
            a {
                display: inline;
                img {
                    width: 100%;
                }
            }
        }
        .rightContent {
            display: flex;
            .barIcon {
                margin-top: 10px !important;
                display: none;
                .line {
                    width: 30px;
                    background-color: black;
                    border-radius: 5px;
                    height: 5px;
                    margin-bottom: 5px;
                }
            }
            .currency {
                position: relative;
                left: -100px !important;
                text-align: right !important;
                .currencyText {
                    font-size: 0.8em;
                    font-weight: bold;
                    color: $main-color;
                }
                .custom-selectbox {
                    select {
                        display: none;
                    }
                    .select-selected {
                        border: none;
                        color: black;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 0;
                        &::after {
                            content: "";
                            background: none;
                            border: none;
                        }
                    }
                    .select-items {
                        width: 80px;
                        overflow: hidden;
                        div {
                            font-size: 14px;
                        }
                    }
                }
            }
            .language {
                position: relative;
                left: -50px !important;
                text-align: right;
                .langText {
                    font-size: 0.8em;
                    color: $main-color;
                    font-weight: bold;
                }
                .custom-selectbox {
                    select {
                        display: none;
                    }
                    .select-selected {
                        border: none;
                        color: black;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 0;
                        &::after {
                            content: "";
                            background: none;
                            border: none;
                        }
                    }
                    .select-items {
                        width: 80px;
                        overflow: hidden;
                        div {
                            font-size: 14px;
                        }
                    }
                }
            }
            .loginbuttons {
                position: relative;
                top: 12px;
                .loginbtn {
                    border-radius: 2px !important;
                    background-color: white;
                    border: 1px solid $main-color;
                    transition: 300ms ease;
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: $main-color;
                    margin-right: 10px;
                    border-radius: 5px;
                }
                .registerbtn {
                    border-radius: 2px !important;
                    background-color: $main-color;
                    border: 1px solid $main-color;
                    transition: 300ms ease !important;
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
    }
    .menucontainer {
        // display: none !important;
        position: absolute;
        margin-top: 40px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

@media(max-width:900px) {
    .logo {
        position: relative;
        top: -5px;
    }
    .rightContent {
        .currency,
        .language,
        .loginbuttons {
            display: none !important;
        }
        .barIcon {
            display: block !important;
        }
    }
    .menucontainer {
        // display: none;
        // height: 0px !important;
        // transition: opacity 1s ease-in-out;
        // height: 0;
        // transition: all 0.5s ease;
        // visibility: hidden;
        // opacity: 0;
        // transition: height 0ms 400ms, opacity 400ms 0ms;
        #openmenu {
            display: block;
        }
        .openmenu {
            transition: max-height 0.2s ease-out;
            text-align: right;
            width: 100%;
            &_item {
                display: block;
                margin-top: 15px;
                transition: 1s ease-in-out;
                font-size: 1em !important;
                font-weight: bold;
                text-decoration: none;
                color: #151515;
                &:hover {
                    color: $main-color !important;
                }
            }
        }
    }
    .menucontainer.activemenu {
        max-height:500px !important;
    }
}

@media(max-width:500px) {
    .centerNav {
        .logo {
            width: 150px;
            position: relative;
            top: 5px !important;
            a {
                img {
                    width: 150px !important;
                }
            }
        }
    }
}

.select-selected {
    background-color: transparent;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #dfdfdf transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #dfdfdf transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    font-family: Averta;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    padding: 8px 16px;
    border-radius: 4px;
    border: solid 1px #dfdfdf;
    // border: 1px solid transparent;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 3px;
    div {
        border: none !important;
    }
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-select select {
    display: none !important;
    /*hide original SELECT element:*/
}